<td class='code {{#if required}}required{{/if}}'>
    <label for='{{valueId}}'>{{name}}</label>
</td>
{{#if isBody}}
{{#if sampleJSON}}
<td colspan="2" title="{{name}}">
    <textarea class='body-textarea {{#if required}}required{{/if}} fullWidth' name='{{name}}' id='{{valueId}}'>{{example}}</textarea>
    <button class="copyBodyTxt" title="Copy all the text in the textbox">&#x1f4cb;</button>
    <br />
    <div class="parameter-content-type" />
</td>
<td class="markdown">{{{paramType}}}</td>
<td colspan="0">{{{type}}}</td>
<td colspan="0" style="display:none;">
    <span class="model-signature"></span>
</td>
{{else}}
<td title="{{name}}">
    <textarea class='body-textarea {{#if required}}required{{/if}}' name='{{name}}' id='{{valueId}}'>{{example}}</textarea>
    <button class="copyBodyTxt" title="Copy all the text in the textbox">&#x1f4cb;</button>
    <br />
    <div class="parameter-content-type" />
</td>
<td class="markdown">{{{description}}}</td>
<td>{{{paramType}}}</td>
<td>
    <span class="model-signature"></span>
</td>
{{/if}}
{{else}}
<td>{{#renderTextParam this}}{{/renderTextParam}}</td>
<td class="markdown">{{{description}}}</td>
<td>{{{paramType}}}</td>
<td>
    <span class="model-signature"></span>
</td>
{{/if}}