<td class='code {{#if required}}required{{/if}}'>
  <label for='{{valueId}}'>{{name}}</label>
</td>
<td>
	<input type="file" class="{{#if required}}required{{/if}}" name='{{name}}' id='{{valueId}}' />
	<div class="parameter-content-type" />
</td>
<td class="markdown">{{{description}}}</td>
<td>{{{paramType}}}</td>
<td>
	<span class="model-signature"></span>
</td>
