{{#each this}}

<li class="sidebarParent">{{name}}</li>

{{#each operationsArray}}
<li class="sidebarChild" title="{{path}}" data-parentid="{{../name}}" data-nickname="{{nickname}}">
    <div class="methodBtn btn-{{method}}">{{srtLbl}}</div>
    <div class="childTxt">{{nickname}}</div>
</li>
{{/each}}
{{/each}}